<div class="columns">
  <h1 class="title is-3"><%= status %> Services:</h1>
</div>
<div class="columns is-wrapped js-pending-services">
  <% transactions.each do |transaction| %>
    <% if transaction.provider_status == "Pending" && transaction.client_status == "Requested" %>
      <% client = get_client(transaction.client_id) %>
      <div class="column is-half is-hosting-a-card">
        <div class="card is-fullwidth">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <%= image_tag client.avatar.url(:thumb) %>
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
              </div>
            </div>
            <div class="content">
              <p>
                On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                At: <%= transaction.date_time.to_s.split(' ')[1] %>
              </p>
              <div class="js-form-container is-hidden">
                <%= render partial: "feedback_form_provider", locals: {transaction: transaction} %>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item is-item-good <%= buttons[:good][:class] %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= status %>","next_status":"<%= buttons[:good][:to] %>"}'><%= buttons[:good][:text] %></a>
            <a class="card-footer-item is-item-medium <%= buttons[:medium][:class] %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= status %>","next_status":"<%= buttons[:medium][:to] %>"}'><%= buttons[:medium][:text] %></a>
            <a class="card-footer-item is-item-bad <%= buttons[:bad][:class] %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= status %>","next_status":"<%= buttons[:bad][:to] %>"}'><%= buttons[:bad][:text] %></a>
          </footer>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
