<% box_class = "js-" + status.downcase + "-services" %>
<% if status == "Complete" %>
  <% buttons_class = "js-feedback-provider" %>
<% else %>
  <% buttons_class = "js-action-service " + current_user.type %>
<% end %>
<div class="columns is-wrapped <%= box_class %>">
  <% transactions.each do |transaction| %>
   <% if transaction.client_status != "Archived" && transaction.provider_status != "Archived" %>
      <% if get_status_cond(status, transaction) && get_feedback_condition(logic, transaction) %>
        <% if current_user.type == "Client" %>
          <% user = get_provider(transaction.provider_id) %>
        <% else %>
          <% user = get_client(transaction.client_id) %>
        <% end %>
        <div class="column is-half is-hosting-a-card">
          <div class="card is-fullwidth is-custom-card">
            <div class="card-header">
              <p class="card-header-title is-user-name-card">
                <%= user.name %> - <%= get_service_name(user.service_id) %><br/>
              </p>
              <p class="card-header-icon is-user-rating-card">
                Rating: <%= user.average_rating%>(<%= user.rating_amount %>)
              </p>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <%= image_tag user.avatar.url(:thumb), class: "user-avatar-thumb" %>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="subtitle is-7 has-no-bottom-margin js-destination-address"><%= user.address %></p>
                  <p class="subtitle is-7 js-destination"><span class="js-destination-postcode"><%= user.postcode %></span> - <span class="js-destination-city"><%= user.city %></span></p>
                </div>
              </div>
              <div class="content">
                <p><strong>Phone: </strong><%= user.phone_number %><br/><strong>Email: </strong><%= user.email %></p>
                <p class="card-description"><strong>Description: </strong><%= transaction.description %></p>
                <p class="card-date">
                  On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                  At: <%= transaction.date_time.to_s.split(' ')[1] %>
                </p>
                <div class="js-form-container is-hidden">
                  <%= render partial: "feedback_form", locals: {transaction: transaction} %>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item is-item-good <%= buttons[:good][:class] %> <%= buttons_class %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= status %>","next_status":"<%= buttons[:good][:to] %>","client_status":"<%= transaction.client_status %>"}'><%= buttons[:good][:text] %></a>
              <a class="card-footer-item is-item-medium <%= buttons[:medium][:class] %> <%= buttons_class %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= status %>","next_status":"<%= buttons[:medium][:to] %>","client_status":"<%= transaction.client_status %>"}'><%= buttons[:medium][:text] %></a>
              <a class="card-footer-item is-item-bad <%= buttons[:bad][:class] %> <%= buttons_class %>" data-key='{"client":"<%= transaction.client_id %>","provider":"<%= transaction.provider_id %>","transaction":"<%= transaction.id %>","current_status":"<%= get_status_for_archived_button(status) %>","next_status":"<%= buttons[:bad][:to] %>","client_status":"<%= transaction.client_status %>"}'><%= buttons[:bad][:text] %></a>
            </footer>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
