<div class="js-service-wrapper">

  <% if completed_to_show?(@transactions) %>
    <div class="box js-completed-transactions">
  <% else %>
    <div class="box js-completed-transactions is-hidden">
  <% end %>
      <div class="columns">
        <h1 class="title is-3">Completed Services:</h1>
      </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Complete",
                      logic: { feedback: true, user: current_user.type },
                      buttons: {
                        good: {
                          class: "",
                          text:"Give Feedback",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        }}} %>
    </div>

    <% if pending_to_show?(@transactions) %>
      <div class="box js-pending-transactions">
    <% else %>
      <div class="box js-pending-transactions is-hidden">
    <% end %>
        <div class="columns">
          <h1 class="title is-3">Pending Services:</h1>
        </div>
      <%= render partial: "card", locals: {
                        transactions: @transactions,
                        status: "Pending",
                        logic: { feedback: false, user: current_user.type },
                        buttons: {
                          good: {
                            class: "",
                            text:"Accept Service",
                            to: "Accepted"
                          },
                          medium: {
                            class: "is-hidden",
                            text: "",
                            to: ""
                          },
                          bad: {
                            class: "",
                            text: "Reject Service",
                            to: "Rejected"
                          }}} %>
    </div>

    <% if accepted_to_show?(@transactions) %>
      <div class="box js-accepted-transactions">
    <% else %>
      <div class="box js-accepted-transactions is-hidden">
    <% end %>
        <div class="columns">
          <h1 class="title is-3">Accepted Services:</h1>
        </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Accepted",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "",
                          text:"Mark as Complete",
                          to: "Complete"
                        },
                        medium: {
                          class: "",
                          text: "Pend Service",
                          to: "Pending"
                        },
                        bad: {
                          class: "",
                          text: "Reject Service",
                          to: "Rejected"
                        }}} %>
    </div>

    <% if rejected_to_show?(@transactions) %>
      <div class="box js-rejected-transactions">
    <% else %>
      <div class="box js-rejected-transactions is-hidden">
    <% end %>
        <div class="columns">
          <h1 class="title is-3">Rejected Services:</h1>
        </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Rejected",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "is-hidden",
                          text:"",
                          to: ""
                        },
                        medium: {
                          class: "",
                          text: "Pend Service",
                          to: "Pending"
                        },
                        bad: {
                          class: "",
                          text: "Archive",
                          to: "Archived"
                        }}} %>

    </div>

    <% if cancelled_to_show?(@transactions) %>
      <div class="box js-cancelled-transactions">
    <% else %>
      <div class="box js-cancelled-transactions is-hidden">
    <% end %>
      <div class="columns">
        <h1 class="title is-3">Cancelled Services:</h1>
      </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Cancelled",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "is-hidden",
                          text:"",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "",
                          text: "Archive",
                          to: "Archived"
                        }}} %>
    </div>

</div>
