<div class="columns">
  <div class="column">
    <h1 class="title is-3">Requests</h1>
    <div class="js-current-requests">
      <h3 class="title is-5 requests-title">Pending requests:</h3>
      <div class="js-pending-requests">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Pending" && transaction.client_status == "Requested" %>
            <p data-id="<%= transaction.id %>">
              <%= transaction.date_time.strftime('%d %b %Y') %>
              <% if @user.type == 'Provider' %>
                <%= get_client_name(transaction.client_id) %>
              <% elsif @user.type == 'Client' %>
                <%= get_provider_name(transaction.provider_id) %>
                <%= get_service_name(get_provider(transaction.provider_id).service_id) %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
      <h3 class="title is-5 requests-title">Accepted requests:</h3>
      <div class="js-accepted-requests">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Accepted" && transaction.client_status == "Requested" %>
          <p data-id="<%= transaction.id %>">
            <%= transaction.date_time.strftime('%d %b %Y') %>
            <% if @user.type == 'Provider' %>
              <%= get_client_name(transaction.client_id) %>
            <% elsif @user.type == 'Client' %>
              <%= get_provider_name(transaction.provider_id) %>
              <%= get_service_name(get_provider(transaction.provider_id).service_id) %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
      <h3 class="title is-5 requests-title">Rejected requests:</h3>
      <div class="js-rejected-requests">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Rejected" && transaction.client_status == "Requested" %>
          <p data-id="<%= transaction.id %>">
            <%= transaction.date_time.strftime('%d %b %Y') %>
            <% if @user.type == 'Provider' %>
              <%= get_client_name(transaction.client_id) %>
            <% elsif @user.type == 'Client' %>
              <%= get_provider_name(transaction.provider_id) %>
              <%= get_service_name(get_provider(transaction.provider_id).service_id) %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
      <h3 class="title is-5 requests-title">Cancelled requests:</h3>
      <div class="js-cancelled-requests">
        <% @transactions.each do |transaction| %>
          <% if transaction.client_status == "Cancelled" %>
          <p data-id="<%= transaction.id %>">
            <%= transaction.date_time.strftime('%d %b %Y') %>
            <% if @user.type == 'Provider' %>
              <%= get_client_name(transaction.client_id) %>
            <% elsif @user.type == 'Client' %>
              <%= get_provider_name(transaction.provider_id) %>
              <%= get_service_name(get_provider(transaction.provider_id).service_id) %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
