<div class="js-service-wrapper">

  <% if completed_to_show_client?(@transactions) %>
    <div class="box js-completed-transactions">
  <% else %>
    <div class="box js-completed-transactions is-hidden">
  <% end %>
    <div class="columns">
      <h1 class="title is-3 is-card-title">Completed Services:</h1>
    </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Complete",
                      logic: { feedback: true, user: current_user.type },
                      buttons: {
                        good: {
                          class: "",
                          text:"Give Feedback",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        }}} %>
  </div>

    <% if pending_to_show?(@transactions) %>
      <div class="box js-pending-transactions">
    <% else %>
      <div class="box js-pending-transactions is-hidden">
    <% end %>
    <div class="columns">
      <h1 class="title is-3 is-card-title">Pending Services:</h1>
    </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Pending",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "is-hidden",
                          text:"",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "",
                          text: "Cancel Request",
                          to: "Cancelled"
                        }}} %>
  </div>

    <% if accepted_to_show?(@transactions) %>
      <div class="box js-accepted-transactions">
    <% else %>
      <div class="box js-accepted-transactions is-hidden">
    <% end %>
    <div class="columns">
      <h1 class="title is-3 is-card-title">Accepted Services:</h1>
    </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Accepted",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "is-hidden",
                          text:"",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "",
                          text: "Cancel Request",
                          to: "Cancelled"
                        }}} %>
  </div>

    <% if rejected_to_show?(@transactions) %>
      <div class="box js-rejected-transactions">
    <% else %>
      <div class="box js-rejected-transactions is-hidden">
    <% end %>
    <div class="columns">
      <h1 class="title is-3 is-card-title">Rejected Services:</h1>
    </div>
    <%= render partial: "card", locals: {
                      transactions: @transactions,
                      status: "Rejected",
                      logic: { feedback: false, user: current_user.type },
                      buttons: {
                        good: {
                          class: "is-hidden",
                          text:"",
                          to: ""
                        },
                        medium: {
                          class: "is-hidden",
                          text: "",
                          to: ""
                        },
                        bad: {
                          class: "",
                          text: "Archive",
                          to: "Archived"
                        }}} %>
  </div>

    <% if cancelled_to_show?(@transactions) %>
      <div class="box js-cancelled-transactions">
    <% else %>
      <div class="box js-cancelled-transactions is-hidden">
    <% end %>
    <div class="columns">
      <h1 class="title is-3 is-card-title">Cancelled Services:</h1>
    </div>
      <%= render partial: "card", locals: {
                        transactions: @transactions,
                        status: "Cancelled",
                        logic: { feedback: false, user: current_user.type },
                        buttons: {
                          good: {
                            class: "",
                            text:"Restore Request",
                            to: "Pending"
                          },
                          medium: {
                            class: "is-hidden",
                            text: "",
                            to: ""
                          },
                          bad: {
                            class: "",
                            text: "Archive",
                            to: "Archived"
                          }}} %>
  </div>

</div>
