<div class="js-service-wrapper">

  <% if completed_to_show?(@transactions) %>
    <div class="box js-completed-transactions">
  <% else %>
    <div class="box js-completed-transactions is-hidden">
  <% end %>
      <div class="columns">
        <h1 class="title is-3">Completed Services:</h1>
      </div>
      <div class="columns is-wrapped js-completed-services">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Complete" && transaction.provider_rating.blank? %>
            <% client = get_client(transaction.client_id) %>
            <div class="column is-half is-hosting-a-card">
              <div class="card is-fullwidth">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <%= image_tag client.avatar.url(:thumb) %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>
                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                      <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                    </div>
                  </div>
                  <div class="content">
                    <p>
                      On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                      At: <%= transaction.date_time.to_s.split(' ')[1] %>
                    </p>
                    <% if transaction.provider_rating.present? %>
                      <button class="button is-success js-feedback-provider is-disabled" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Give feedback</button>
                    <% else %>
                      <button class="button is-success js-feedback-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Give feedback</button>
                    <% end %>
                    <div class="js-form-container is-hidden">
                      <%= render partial: "feedback_form_provider", locals: {transaction: transaction} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if pending_to_show?(@transactions) %>
      <div class="box js-pending-transactions">
    <% else %>
      <div class="box js-pending-transactions is-hidden">
    <% end %>
      <div class="columns">
        <h1 class="title is-3">Pending Services:</h1>
      </div>
      <div class="columns is-wrapped js-pending-services">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Pending" && transaction.client_status == "Requested" %>
            <% client = get_client(transaction.client_id) %>
            <div class="column is-half is-hosting-a-card">
              <div class="card is-fullwidth">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <%= image_tag client.avatar.url(:thumb) %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                      <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                    </div>
                  </div>
                  <div class="content">
                    <p>
                      On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                      At: <%= transaction.date_time.to_s.split(' ')[1] %>
                    </p>
                    <button class="button is-success js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Accepted">Accept service</button>
                    <button class="button is-danger js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Rejected">Reject service</button>
                    <button class="button is-primary is-hidden js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="">Pend service</button>
                    <div class="js-form-container is-hidden">
                      <%= render partial: "feedback_form_provider", locals: {transaction: transaction} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if accepted_to_show?(@transactions) %>
      <div class="box js-accepted-transactions">
    <% else %>
      <div class="box js-accepted-transactions is-hidden">
    <% end %>
      <div class="columns">
        <h1 class="title is-3">Accepted Services:</h1>
      </div>
      <div class="columns is-wrapped js-accepted-services">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Accepted" && transaction.client_status == "Requested" %>
            <% client = get_client(transaction.client_id) %>
            <div class="column is-half is-hosting-a-card">
              <div class="card is-fullwidth">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <%= image_tag client.avatar.url(:thumb) %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>
                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                      <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                    </div>
                  </div>
                  <div class="content">
                    <p>
                      On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                      At: <%= transaction.date_time.to_s.split(' ')[1] %>
                    </p>
                    <button class="button is-success js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Mark as complete</button>
                    <button class="button is-danger js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Rejected">Reject service</button>
                    <button class="button is-primary js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="Pending">Pend service</button>
                    <div class="js-form-container is-hidden">
                      <%= render partial: "feedback_form_provider", locals: {transaction: transaction} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if rejected_to_show?(@transactions) %>
      <div class="box js-rejected-transactions">
    <% else %>
      <div class="box js-rejected-transactions is-hidden">
    <% end %>
      <div class="columns">
        <h1 class="title is-3">Rejected Services:</h1>
      </div>
      <div class="columns is-wrapped js-rejected-services">
        <% @transactions.each do |transaction| %>
          <% if transaction.provider_status == "Rejected" && transaction.client_status == "Requested" %>
            <% client = get_client(transaction.client_id) %>
            <div class="column is-half is-hosting-a-card">
              <div class="card is-fullwidth">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <%= image_tag client.avatar.url(:thumb) %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>
                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                      <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                    </div>
                  </div>
                  <div class="content">
                    <p>
                      On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                      At: <%= transaction.date_time.to_s.split(' ')[1] %>
                    </p>
                    <button class="button is-success js-action-service-provider is-hidden" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="">Mark as complete</button>
                    <button class="button is-danger js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Archived">Archive</button>
                    <button class="button is-primary js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="Pending">Pend service</button>
                    <div class="js-form-container is-hidden">
                      <%= render partial: "feedback_form_provider", locals: {transaction: transaction} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if cancelled_to_show?(@transactions) %>
      <div class="box js-cancelled-transactions">
    <% else %>
      <div class="box js-cancelled-transactions is-hidden">
    <% end %>
      <div class="columns">
        <h1 class="title is-3">Cancelled Services:</h1>
      </div>
      <div class="columns is-wrapped js-cancelled-services">
        <% @transactions.each do |transaction| %>
          <% if transaction.client_status == "Cancelled" %>
            <% client = get_client(transaction.client_id) %>
            <div class="column is-half is-hosting-a-card">
              <div class="card is-fullwidth">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <%= image_tag client.avatar.url(:thumb) %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-5"><%= client.name %> <small>Rating:</small> <%= client.average_rating%>(<%= client.rating_amount %>)</p>
                      <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                      <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                    </div>
                  </div>
                  <div class="content">
                    <p>
                      On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                      At: <%= transaction.date_time.to_s.split(' ')[1] %>
                    </p>
                    <button class="button is-danger js-action-service-provider" data-current="<%= transaction.provider_status %>" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Archived">Archive</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

</div>
