<div class="js-service-wrapper">
  <div class="box">
    <div class="columns">
      <h1 class="title is-3">Completed Services:</h1>
    </div>
    <div class="columns is-wrapped js-completed-services">
      <% @transactions.each do |transaction| %>
        <% if transaction.provider_status == "Complete" && transaction.provider_rating.blank? %>
          <% client = get_client(transaction.client_id) %>
          <div class="column is-half is-hosting-a-card">
            <div class="card is-fullwidth">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag client.avatar.url(:thumb) %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5"><%= client.name %></p>
                    <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                    <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                    At: <%= transaction.date_time.to_s.split(' ')[1] %>
                  </p>
                  <% if transaction.provider_rating.present? %>
                    <button class="button is-success js-feedback-provider is-disabled" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Give feedback</button>
                  <% else %>
                    <button class="button is-success js-feedback-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Give feedback</button>
                  <% end %>
                  <%= render partial: "feedback_form", locals: {transaction: transaction} %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="box">
    <div class="columns">
      <h1 class="title is-3">Pending Services:</h1>
    </div>
    <div class="columns is-wrapped js-pending-services">
      <% @transactions.each do |transaction| %>
        <% if transaction.provider_status == "Pending" && transaction.client_status == "Requested" %>
          <% client = get_client(transaction.client_id) %>
          <div class="column is-half is-hosting-a-card">
            <div class="card is-fullwidth">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag client.avatar.url(:thumb) %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5"><%= client.name %></p>
                    <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                    <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                    At: <%= transaction.date_time.to_s.split(' ')[1] %>
                  </p>
                  <button class="button is-success js-action-service-provider" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Accepted">Accept service</button>
                  <button class="button is-danger js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Rejected">Reject service</button>
                  <button class="button is-primary is-hidden js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="">Pend service</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="box">
    <div class="columns">
      <h1 class="title is-3">Accepted Services:</h1>
    </div>
    <div class="columns is-wrapped js-accepted-services">
      <% @transactions.each do |transaction| %>
        <% if transaction.provider_status == "Accepted" && transaction.client_status == "Requested" %>
          <% client = get_client(transaction.client_id) %>
          <div class="column is-half is-hosting-a-card">
            <div class="card is-fullwidth">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag client.avatar.url(:thumb) %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5"><%= client.name %></p>
                    <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                    <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                    At: <%= transaction.date_time.to_s.split(' ')[1] %>
                  </p>
                  <button class="button is-success js-action-service-provider" data-client="<%= transaction.client_id %>" data-provider="<%= transaction.provider_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="Complete">Mark as complete</button>
                  <button class="button is-danger js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Rejected">Reject service</button>
                  <button class="button is-primary js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="Pending">Pend service</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="box">
    <div class="columns">
      <h1 class="title is-3">Rejected Services:</h1>
    </div>
    <div class="columns is-wrapped js-rejected-services">
      <% @transactions.each do |transaction| %>
        <% if transaction.provider_status == "Rejected" && transaction.client_status == "Requested" %>
          <% client = get_client(transaction.client_id) %>
          <div class="column is-half is-hosting-a-card">
            <div class="card is-fullwidth">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag client.avatar.url(:thumb) %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5"><%= client.name %></p>
                    <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                    <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                    At: <%= transaction.date_time.to_s.split(' ')[1] %>
                  </p>
                  <button class="button is-success js-action-service-provider is-hidden" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="green" data-status="">Mark as complete</button>
                  <button class="button is-danger js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Archived">Archive</button>
                  <button class="button is-primary js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="blue" data-status="Pending">Pend service</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="box">
    <div class="columns">
      <h1 class="title is-3">Cancelled Services:</h1>
    </div>
    <div class="columns is-wrapped js-cancelled-services">
      <% @transactions.each do |transaction| %>
        <% if transaction.client_status == "Cancelled" %>
          <% client = get_client(transaction.client_id) %>
          <div class="column is-half is-hosting-a-card">
            <div class="card is-fullwidth">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag client.avatar.url(:thumb) %>
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5"><%= client.name %></p>
                    <p class="subtitle is-7 has-no-bottom-margin"><%= client.address %></p>
                    <p class="subtitle is-7"><%= client.postcode %> - <%= client.city %></p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    On: <%= transaction.date_time.strftime('%a %d %b %Y') %>
                    At: <%= transaction.date_time.to_s.split(' ')[1] %>
                  </p>
                  <button class="button is-danger js-action-service-provider" data-client="<%= transaction.client_id %>" data-transaction="<%= transaction.id %>" data-color="red" data-status="Archived">Archive</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
