<div class="columns">
  <div class="column is-one-quarter">
    <div class="box user-details">
      <%= image_tag @user.avatar.url(:medium) %>
      <p>CLIENT: <%= @user.name %></p>
      <p>Id: <%= @user.id %></p>
      <p>Email: <%= @user.email %></p>
      <p>Number: <%= @user.phone_number %></p>
      <p>Address: <%= @user.address %></p>
      <p>Type: <%= @user.type %></p>
      <%= link_to "Edit details", edit_user_registration_path, class: "button is-primary is-small" %>
      <%= link_to "See all index", users_index_path, class: "button is-primary is-small" %>
      <%= link_to "Profile", '/profile', class: "button is-primary is-small" %>
    </div>
    <div class="box client-requests">
      <%= render "transactions_index" %>
    </div>
  </div>
  <div class="column is-three-quarters">
    <div class="container filter-form">
      <%= render 'search_form' %>
    </div>
    <div class="container filter-results">
    </div>
  </div>
</div>
