<div class="container is-user is-landing-container is-section-1">
  <div class="is-slider">
    <div class="container is-user is-inner-section-1">
      <div class="is-slide" id="slide-1">
        <div class="content">
          <h1 class="title is-1">Looking for those extra hours?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start making business with your neighbours!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
      <div class="is-slide is-slide-hidden" id="slide-2">
        <div class="content">
          <h1 class="title is-1">Want to make some money doing something you love?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start making profit of that expensive photography course you took!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
      <div class="is-slide is-slide-hidden" id="slide-3">
        <div class="content">
          <h1 class="title is-1">Are you a great handyman? Wanna take on an extra work?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start fixing your neighbour's pipes!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
    </div>
    <div class="is-slider-controls">
      <div class="slider-button is-button-active" id="button-1"></div>
      <div class="slider-button" id="button-2"></div>
      <div class="slider-button" id="button-3"></div>
    </div>
  </div>

  <div class="container is-user is-inner-section-2">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-star-o" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>Start making profit on you spare time!</p>
              <p>Start getting good quality services at affordable prices from those around you.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>You will find that there's a great community of clients and providers around you.</p>
              <p>The best way of getting that extra income or to get things done in an easy way.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>Make or save up money by using this application to get services that you need for everyday use.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container is-user is-inner-section-3">
    <div class="container">
      <h1 class="title is-2 user-reviews">User Reviews: </h1>
      <div class="columns is-user-reviews">
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://lh3.googleusercontent.com/VkMfPXX-ZCI5XhUAlyzluqU7FgzY7HLlNfJbEzAt0Y_lwPJ-kq_P35KisbadVmtqFap2UDCuw2wDbdQOJ71koZpgYPv9N8-ki4MkSqouGb09IQJu0HvGy32aVd-cyIi0hsyF6ha7t1760_IXSo22lN9Y_tAuIy2KaZJw9KjDOqt-VVT_IAnwdm6YugCu9pRryjb6SsWFcBPWb7tA7w97ZwH2MzpqaoEuTG_YZVud3Fl5ZpSJrMb3aRDIvaeZeaenhgCBO6Cd7RRiMjxYGzJEuSFFhf-Jez1jFl9ZhSZ06kLsdYpmvE2m4lesufDV1Fcfj8Yv4jQ4KHLLYVI_BPpj0QVTHuvnjfShMt-eb1kFaM45mR7aIIi21NrBT7iqpAk9Z9Gr6Rw8ZTFg5kzXHF_fLXEPl8Vci3HsPKEgqR1TZ-B79qJFmSjxp7jeZoIkMK-KjHzvpxG2K4L3XL8dCJjk9uft_bvwSTaixieXWkWxQmBqIUuxDO39R6b0iALsguZB-Yuzf84-Ux-KBaTfKQbKVWgWPzjmMIUQlegQIo3C6wLpc1IJrvi1QMj5mkmskj-jL0w3Lx5FWMFRUQbY8e-IJEreNeSYFPCR=s643-no", class: "user-review-img", alt: "user-review-img") %>
            <p>Since I offer my services on first hand, i can get that extra money to go on holidays to Honolulu</p>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://lh3.googleusercontent.com/ATwRkNUL5nS_LwXR8dqtBeLAqMVI4gDwQdE803Txhqkc_suXO03bPsaT-Lg9QG4X_WzOEaOynw1GaZrCORuLoBD6qQlh_c7MVTMH5Z0O3CK51O5ezSp73FreH4lKfi3KTGgBB1hEieSHmI8AiOFLrusBNkX076RB9NG9pCwA_1WhmXqURDg8qp5zPorZFzIkNKStRH1LcydosHafgpKGxaD8bsQ5ACiONTc1OHVXMy8fcWKOicgHH4Q5sfGawhLrh2luO978vpbRQcGyOMg9mSILclF0mM_jlJcb8QJ7If2e2hMghtfEMU4eRKO1o_ftS-vj4_IdGhkRIbVijZ5Zktp_a-5Iv32RrKPb1f3um_yPDSIL52FdsVZPtvfDtGgF6jFO5rxfHm5qdTGU11VWz53yoL4A7yZW6U-TwQS4MQEV7ObjcH48hkqKAWIOXPKAG-sz9ddT_sHc0Ul7Yq7lSDt7B15VY2wreYcrFwBsY-LaohZ-5_AFyt_GXG_C4kQPWOcXECGRJqKszklIjdrSmIkm2Jl7HlM8wIndnk-8vMpmgnPbH8eAaKheG1LEYbdEQ28LiLEMZ8IrtKNP3-ie6O7gydsJAfGl=s793-no", class: "user-review-img", alt: "user-review-img") %>
            <p>I use first hand almost every week, since I hate cleaning my house...</p>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://lh3.googleusercontent.com/zG7J6oRFXby8Sj71NBsxqohPZ4RQkLbf4ADU8ALeN4duQhLa3nU9IW5iOe0XcA1hwqiL8wF8Eid3RgkgrLXYHb6S4vFCRBxbRafZIcNFZgxIl04zL0kh70T9-ddu9HAOp1kTi7Bbm2UWoETIA15dlaVZ55OfwLL9xCqaEOkIBcjNUviQBxJFtTyxi3bZCm0l1Si9MRoqwxp9HhO2eVQFa2wICizgP4Lr33y1FYJGTPup0nPr_v3Yk9ppwWY_cRhTFQ3Gm3S9zx-FOK3gMTVTzRzJeCdQy9kVVsA2656wjOhT-jfoFlLeFeT0nGxy6MjyNvUAN-mwxWRqK4lTc2hGR2qZfABu0DxjG_8VcrPQvjcFqijmQAfqDVuO5axx2a8gvMpyxy0eaZVNMiew8u_fg61pQKM3E8YjUtkFitRgxHFejNKPd6OKGMflIY7hrsB5F0uQfVGgHmOOo9Ngqq9P5L7aeKgmVcTnkST0dl97SfClh7ZXMSXzwVP-o0FRXsDGzS5Pbtak_9B5AuN0YuhQ8am7--oED889lUqD_2EaCdnH-oF3edD2zoZ6ub9deKJn8r7xSsmFQKGnidnc0ptEIt4aFgIjn1KD=s792-no", class: "user-review-img", alt: "user-review-img") %>
            <p>I tried fisrt hand yesterday to get my living room painted and couldn't be happier with it.</p>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://lh3.googleusercontent.com/TS3GbUYSdXxn1zrkmBc-EkCqAhKP59COgfkljgGD2OpQN7qUCyMYMfkAfwt_ATMxvem4CXAz6F3sQTCM5O0SKQC0ECHw4uOUtqjGXPsvgeo1myHuhHAwjpgdNIvR-my2c3EULQHD8Z_71ftUb1rS3ODiy_-D0Ea_F-n_vtsfjx5u5GM75v3ccym4EF5HkgfTy1CHyTNOBkBT2ChhDLmHxvCbuVRmFt-Im5mD4o8RYy5Erpty6jRlRihekqumikaVObjrGODW63XOJim2aCYM6mfccmpbzPPfEonMEIl8FfCR07KdeylqapBy8wJdalEk0Hya6bdOsm7IjvhHjjcNpEQROj1-tzGdb_Q9PFJSEs8RPgAyRm8ugnOodfNWzx6oxdh1jtMBbWC6tEpWvDTAa57QA-pOdyVLv2gZZchOAyL6IDTdh5xxJEYrE6FvmDVuPcj2zwKg3gshyqtd_xsdGlXVOsrJw4nomOsnuR-u_PphwiAacc5nS9LZvvw1Zkgz-bYlzF-yisme6lXoDhpJnManN-5MiOlrt34AHRfaKHfsYNq-hLfrdfL0fVUxG2QMBtN2owvXEeC8D-I3OwecppgonpusGzgX=s550-no", class: "user-review-img", alt: "user-review-img") %>
            <p>I don't wanna show my face. That may be the reason why no one trust my provider profile...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
