<div class="container is-user is-landing-container is-section-1">
  <div class="is-slider">
    <div class="container is-user is-inner-section-1">
      <div class="overlay"></div>
      <div class="is-slide" id="slide-1">
        <div class="content">
          <h1 class="title is-1">Looking for those extra hours?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start making business with your neighbours!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
      <div class="is-slide is-slide-hidden" id="slide-2">
        <div class="content">
          <h1 class="title is-1">Want to make some money doing something you love?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start making profit of that expensive photography course you took!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
      <div class="is-slide is-slide-hidden" id="slide-3">
        <div class="content">
          <h1 class="title is-1">Are you a great handyman? Wanna take on an extra work?</h1>
          <p>Register today at <span class="is-app-name">first hand</span> and start fixing your neighbour's pipes!</p>
          <%= link_to "Register here!", new_user_registration_path, class: "is-slider-button" %>
        </div>
      </div>
    </div>
    <div class="is-slider-controls">
      <div class="slider-button is-button-active" id="button-1"></div>
      <div class="slider-button" id="button-2"></div>
      <div class="slider-button" id="button-3"></div>
    </div>
  </div>

  <div class="container is-user is-inner-section-2">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-star-o" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>Start making profit on your spare time!</p>
              <p>Start getting good quality services at affordable prices from those around you.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>You will find that there's a great community of clients and providers around you.</p>
              <p>The best way of getting that extra income or to get things done in an easy way.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="convincing-argument">
            <div class="is-font-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
            <div class="is-section-2-text">
              <p>Make or save up money by using this application to get services that you need for everyday use.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container is-user is-inner-section-3">
    <div class="container">
      <h1 class="title is-2 user-reviews">User Reviews: </h1>
      <div class="columns is-user-reviews">
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://s3-us-west-2.amazonaws.com/first-hand-assets/marta.jpg", class: "user-review-img", alt: "user-review-img") %>
            <div class="review-text">
              <h1>Marta</h1>
              <h2>Provider: Translations</h2>
              <p>Since I offer my services on first hand, i can get that extra money to go on holidays to Honolulu</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://s3-us-west-2.amazonaws.com/first-hand-assets/aaron.jpg", class: "user-review-img", alt: "user-review-img") %>
            <div class="review-text">
              <h1>Aaron</h1>
              <h2>Client</h2>
              <p>I use first hand almost every week, since I hate cleaning my house...</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://s3-us-west-2.amazonaws.com/first-hand-assets/ima.jpg", class: "user-review-img", alt: "user-review-img") %>
            <div class="review-text">
              <h1>Imanol</h1>
              <h2>Client</h2>
              <p>I tried fisrt hand yesterday to get my living room painted and couldn't be happier with it.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="user-review">
            <%= image_tag("https://s3-us-west-2.amazonaws.com/first-hand-assets/profile.jpg", class: "user-review-img", alt: "user-review-img") %>
            <div class="review-text">
              <h1>Rita</h1>
              <h2>Provider: Massaging</h2>
              <p>I don't wanna show my face. That may be the reason why no one trust my provider profile...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
