<h1 class="title is-1">Clients</h1>
<ul>
<% @clients.each do |client| %>
  <li><%= client.id %> <%= client.name %> type: <%= client.type %></li>
<% end %>
</ul>

<h1 class="title is-1">Providers</h1>
<ul>
<% @providers.each do |provider| %>
  <li><%= provider.name %> type: <%= provider.type %>. Service: <%= get_service_name(provider.service_id) %></li>
<% end %>
</ul>

<h1 class="title is-1">Transactions</h1>
<ul>
<% @transactions.each do |transaction| %>
  <li>Between <%= get_client_name(transaction) %> and <%= get_provider_name_tests(transaction) %> at <%= transaction.date_time %>. Service: <%= get_provider_service(transaction) %></li>
<% end %>
</ul>

<h1 class="title is-1">Services</h1>
<ul>
<% @services.each do |service| %>
  <% if service.parent_id != nil %>
    <li><%= service.name %> in <%= get_parent_name(service) %></li>
  <% end %>
<% end %>
</ul>
